/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

.contenedor {
    background-color: #fff;
    width: 80%;
    padding: 5% 0;
    margin: 0 10%;
    display: flex;
    justify-content: center;
}

#categorias {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
    #categorias {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#categorias .item {
    height: 300px;
    background-color: grey;
    text-align: center;
    position: relative;
}

#categorias .item:nth-child(1) {
    background-image: url("../../img/Accesorios/20582473_1100489023385926_7840483083978539008_n.jpg");
}
#categorias .item:nth-child(2) {
    background-image: url("../../img/Accesorios/96536418_289555405401958_1502135516549405933_n.jpg");
}
#categorias .item:nth-child(3) {
    background-image: url("../../img/Accesorios/97569797_199106411077763_3423218505855134091_n.jpg");
}
#categorias .item:nth-child(4) {
    background-image: url("../../img/Accesorios/97926023_104775607860418_8940685078140113040_n_002.jpg");
}
#categorias .item:nth-child(5) {
    background-image: url("../../img/Accesorios/20582473_1100489023385926_7840483083978539008_n.jpg");
}

#categorias .item .textos {
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   /* width: 50%; */
   height: 50%;
   margin: auto;
}

@media only screen and (min-width: 500px) {
    #categorias .item .textos {
        /* margin-top: 20%; */
    }
}

#categorias .item h2{
    color: #fff;
    width: 100%;
}

#categorias .item h3{
    color: #ccc;
    width: 100%;
}
